
.search-bar-container {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 20px;
  }
  
  input {
    padding: 8px;
    margin-right: 12px;
    display: flex;
    align-items: center;
    width: 20%;
    height: 40px;
    border-radius: 24px;
    padding: 0 10px;
    background-color: #e7e5e5b8;
    justify-content: space-between;
    border: solid 1.5px #8b8b8d;
  }
  
  .s-btn {
    padding: 6px 8px;
    display: flex;
    align-items: center;
    justify-content: center;
    border: none;
    border-radius: 100px;
    cursor: pointer;
    height: 38px;
    width: 80px;
    margin-left: 8px;  

  }

  .s-btn.remove {
    padding: 0;
    width: 26px;
    margin: 0;  
  }
  